.page{
    font-size: 12px;
}

.contenedor{
    font-size:10px;
    font-family:  "DejaVu Serif", "STIX", serif;
}

.con-bordes{
    border-top: 1px solid black;
}
.con-bordes1{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.con-bordes2{
    border-bottom: 1px solid black;
}

td{
    padding:2px ;
    font-size:10px;
}

th{
    vertical-align: middle;
    font-size:13px;
}

table.diario{
    border: 1px solid black;
}
td{
    padding:2px ;
    font-size:10px;
}

th{
    vertical-align: middle;
    font-size:13px;
}

